In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings("ignore")

In [2]:
data = pd.read_pickle(r"C:\Users\rajneesh.jha\Downloads\deduction\three_tables_4_lakhs.pkl")

In [3]:
data.shape

(415341, 214)

In [4]:
data=data.drop_duplicates('pk_deduction_id')
data.shape

(206570, 214)

In [5]:
data.reset_index(inplace=True,drop=True)
data.shape

(206570, 214)

In [6]:
data['fk_action_code_id'] = data['fk_action_code_id'].fillna(-1)
data.fk_action_code_id.value_counts(dropna=False)
data['fk_action_code_id'] = data['fk_action_code_id'].astype(int)
listid = [341, 419, 422, 425, 240, 243, 246, 428, 300]
data['output'] = np.nan
data.loc[(data.fk_action_code_id.isin(listid)), 'output'] = 0
data.output.fillna(value=1, inplace=True)
data['output'] = data.output.astype(int)

In [7]:
data.output.value_counts(dropna=False)

1    204152
0      2418
Name: output, dtype: int64

In [8]:
import datetime

train = data.loc[(data.deduction_created_date >= datetime.datetime(2015, 1, 2)) & (
            data.deduction_created_date <= datetime.datetime(2018, 5, 1))]
# print(train.shape)
# print(train)
test = data.loc[data.deduction_created_date > datetime.datetime(2018, 1, 2)]

print(train.shape)
print(test.shape)

(185314, 215)
(40267, 215)

###  code    
    train_Data_frame[column1].replace('\\N', np.nan, inplace=True)
    train_Data_frame[column1].replace(np.nan, 'null', inplace=True)
    #train_Data_frame[column1] = train_Data_frame[column1].apply(
    #    lambda x: int(x) if (pd.Series(x).dtype == 'float64') else x)
    train_Data_frame[column1] = train_Data_frame[column1].astype(str)
    print(train_Data_frame[column1].value_counts(dropna=False))
    print(test_Data_frame[column1].value_counts(dropna=False))

    # test Data processing
    test_Data_frame[column1].replace('\\N', np.nan, inplace=True)
    test_Data_frame[column1].replace(np.nan, 'null', inplace=True)
    #test_Data_frame[column1] = test_Data_frame[column1].apply(
    #    lambda x: int(x) if (pd.Series(x).dtype == 'float64') else x)
    test_Data_frame[column1] = test_Data_frame[column1].astype(str)

    train_Data_frame[column1] = train_Data_frame[column1].astype(str)
    grp_hstry_map_id = train_Data_frame.groupby(column1).agg({'output': 'sum', 'pk_deduction_id': 'count'})
    grp_hstry_map_id.reset_index(inplace=True)
    grp_hstry_map_id['output'] = grp_hstry_map_id['pk_deduction_id'] - grp_hstry_map_id['output']
    grp_hstry_map_id.columns = ['fk_customer_map_id', 'invalid', 'total']
    grp_hstry_map_id.sort_values(by='total', ascending=False, inplace=True)
    grp_hstry_map_id.loc[grp_hstry_map_id.total <= int(value), column1] = 'others'
    grp_hstry_map_id[column1] = grp_hstry_map_id[column1].astype(str)

    grp_cust_list = grp_hstry_map_id[column1].unique().tolist()
    len(grp_cust_list)
    train_Data_frame[column1] = train[column1].apply(lambda x: x if (x in grp_cust_list) else 'others')
    train_Data_frame.reset_index(inplace=True)
    train_Data_frame.drop('index', axis=1, inplace=True)

    test_Data_frame[column1] = test_Data_frame[column1].apply(lambda x: x if (x in grp_cust_list) else 'others')
    return train_Data_frame, test_Data_frame

In [9]:
train_data_frame=train
test_data_frame=test
print(train_data_frame.shape)
print(test_data_frame.shape)

(185314, 215)
(40267, 215)

In [10]:
column1='payer'
print(train_data_frame[column1].dtype)
print(test_data_frame[column1].dtype)

object
object

In [11]:
train_data_frame[column1].value_counts(dropna=False)

300052    37796
300075    23250
NaN       17867
300113    11530
300285    10298
300316     7140
300731     5719
300083     4996
300010     4813
300072     4596
107642     3182
300079     2841
300062     2489
100403     2254
300354     2123
300073     2053
101916     1790
101898     1709
105346     1641
300743     1491
300069     1385
300521     1359
101116     1271
300279     1191
300308     1152
300008     1146
300024     1143
300123     1095
300681     1072
101112     1001
          ...
102211        2
101322        2
101364        2
115081        2
108180        2
105042        2
101381        2
101990        2
100367        2
112920        2
300739        2
112831        2
102389        2
113307        2
102189        1
300474        1
109931        1
104974        1
100937        1
300768        1
100775        1
114363        1
104971        1
300447        1
300736        1
101720        1
300609        1
102258        1
113928        1
100095        1
Name: payer, Length: 190, dtype: int64

In [12]:
train_data_frame[column1].replace('\\N', np.nan, inplace=True)
train_data_frame[column1].replace(np.nan, 'null', inplace=True)

In [13]:
train_data_frame[column1].value_counts(dropna=False)

300052    37796
300075    23250
null      17867
300113    11530
300285    10298
300316     7140
300731     5719
300083     4996
300010     4813
300072     4596
107642     3182
300079     2841
300062     2489
100403     2254
300354     2123
300073     2053
101916     1790
101898     1709
105346     1641
300743     1491
300069     1385
300521     1359
101116     1271
300279     1191
300308     1152
300008     1146
300024     1143
300123     1095
300681     1072
101112     1001
          ...
101364        2
102211        2
101322        2
112831        2
102389        2
106516        2
113307        2
101381        2
101990        2
115081        2
108180        2
112920        2
105042        2
101246        2
113928        1
109931        1
101720        1
102189        1
300447        1
100937        1
300768        1
100775        1
300609        1
300736        1
104971        1
102258        1
114363        1
300474        1
100095        1
104974        1
Name: payer, Length: 190, dtype: int64

In [14]:
train_data_frame[column1]=train_data_frame[column1].astype(str)
print(train_data_frame[column1].dtype)

object

In [15]:
train_data_frame[column1].value_counts(dropna=False)
##

300052    37796
300075    23250
null      17867
300113    11530
300285    10298
300316     7140
300731     5719
300083     4996
300010     4813
300072     4596
107642     3182
300079     2841
300062     2489
100403     2254
300354     2123
300073     2053
101916     1790
101898     1709
105346     1641
300743     1491
300069     1385
300521     1359
101116     1271
300279     1191
300308     1152
300008     1146
300024     1143
300123     1095
300681     1072
101112     1001
          ...
101364        2
102211        2
101322        2
112831        2
102389        2
106516        2
113307        2
101381        2
101990        2
115081        2
108180        2
112920        2
105042        2
101246        2
113928        1
109931        1
101720        1
102189        1
300447        1
100937        1
300768        1
100775        1
300609        1
300736        1
104971        1
102258        1
114363        1
300474        1
100095        1
104974        1
Name: payer, Length: 190, dtype: int64

In [16]:
test_data_frame[column1].replace('\\N', np.nan, inplace=True)
test_data_frame[column1].replace(np.nan, 'null', inplace=True)
test_data_frame[column1]=test_data_frame[column1].astype(str)
print(test_data_frame[column1].dtype)

object

In [17]:
grp_hstry_map_id=train_data_frame.groupby(column1).agg({'output':'sum','pk_deduction_id':'count'})
grp_hstry_map_id

        output  pk_deduction_id
payer
100017      88               89
100024     200              203
100075       3                3
100095       1                1
100105      19               19
100107      65               65
100114     223              227
100119     115              115
100140      54               54
100190     110              111
100203     564              567
100210      31               32
100212     473              501
100263     523              526
100367       2                2
100385     135              135
100403    2228             2254
100452     292              300
100545      47               47
100557      16               16
100570      45               46
100575     801              824
100609     145              146
100625     104              104
100649      14               15
100653     580              582
100700       3                3
100702       9                9
100706     157              157
100740     608              628
...        ...              ...
300433       6                6
300447       1                1
300448      55               55
300450      16               16
300465      91              107
300474       1                1
300495     741              767
300512      31               35
300515       3                6
300521    1347             1359
300523      34               34
300524      26               33
300525       3                3
300609       1                1
300632     510              511
300667       8                8
300681    1038             1072
300685       6                7
300706     460              460
300731    5692             5719
300736       1                1
300739       2                2
300742     103              103
300743    1475             1491
300752       7                7
300768       1                1
300771      46               46
300772      71               72
300773      75               77
null     17867            17867

[190 rows x 2 columns]

In [18]:
grp_hstry_map_id.reset_index(inplace=True)

In [19]:
grp_hstry_map_id

      payer  output  pk_deduction_id
0    100017      88               89
1    100024     200              203
2    100075       3                3
3    100095       1                1
4    100105      19               19
5    100107      65               65
6    100114     223              227
7    100119     115              115
8    100140      54               54
9    100190     110              111
10   100203     564              567
11   100210      31               32
12   100212     473              501
13   100263     523              526
14   100367       2                2
15   100385     135              135
16   100403    2228             2254
17   100452     292              300
18   100545      47               47
19   100557      16               16
20   100570      45               46
21   100575     801              824
22   100609     145              146
23   100625     104              104
24   100649      14               15
25   100653     580              582
26   100700       3                3
27   100702       9                9
28   100706     157              157
29   100740     608              628
..      ...     ...              ...
160  300433       6                6
161  300447       1                1
162  300448      55               55
163  300450      16               16
164  300465      91              107
165  300474       1                1
166  300495     741              767
167  300512      31               35
168  300515       3                6
169  300521    1347             1359
170  300523      34               34
171  300524      26               33
172  300525       3                3
173  300609       1                1
174  300632     510              511
175  300667       8                8
176  300681    1038             1072
177  300685       6                7
178  300706     460              460
179  300731    5692             5719
180  300736       1                1
181  300739       2                2
182  300742     103              103
183  300743    1475             1491
184  300752       7                7
185  300768       1                1
186  300771      46               46
187  300772      71               72
188  300773      75               77
189    null   17867            17867

[190 rows x 3 columns]

In [20]:
grp_hstry_map_id['output'] = grp_hstry_map_id['pk_deduction_id'] - grp_hstry_map_id['output']
grp_hstry_map_id

      payer  output  pk_deduction_id
0    100017       1               89
1    100024       3              203
2    100075       0                3
3    100095       0                1
4    100105       0               19
5    100107       0               65
6    100114       4              227
7    100119       0              115
8    100140       0               54
9    100190       1              111
10   100203       3              567
11   100210       1               32
12   100212      28              501
13   100263       3              526
14   100367       0                2
15   100385       0              135
16   100403      26             2254
17   100452       8              300
18   100545       0               47
19   100557       0               16
20   100570       1               46
21   100575      23              824
22   100609       1              146
23   100625       0              104
24   100649       1               15
25   100653       2              582
26   100700       0                3
27   100702       0                9
28   100706       0              157
29   100740      20              628
..      ...     ...              ...
160  300433       0                6
161  300447       0                1
162  300448       0               55
163  300450       0               16
164  300465      16              107
165  300474       0                1
166  300495      26              767
167  300512       4               35
168  300515       3                6
169  300521      12             1359
170  300523       0               34
171  300524       7               33
172  300525       0                3
173  300609       0                1
174  300632       1              511
175  300667       0                8
176  300681      34             1072
177  300685       1                7
178  300706       0              460
179  300731      27             5719
180  300736       0                1
181  300739       0                2
182  300742       0              103
183  300743      16             1491
184  300752       0                7
185  300768       0                1
186  300771       0               46
187  300772       1               72
188  300773       2               77
189    null       0            17867

[190 rows x 3 columns]

In [21]:
grp_hstry_map_id.columns = ['payer', 'invalid', 'total']

In [22]:
grp_hstry_map_id

      payer  invalid  total
0    100017        1     89
1    100024        3    203
2    100075        0      3
3    100095        0      1
4    100105        0     19
5    100107        0     65
6    100114        4    227
7    100119        0    115
8    100140        0     54
9    100190        1    111
10   100203        3    567
11   100210        1     32
12   100212       28    501
13   100263        3    526
14   100367        0      2
15   100385        0    135
16   100403       26   2254
17   100452        8    300
18   100545        0     47
19   100557        0     16
20   100570        1     46
21   100575       23    824
22   100609        1    146
23   100625        0    104
24   100649        1     15
25   100653        2    582
26   100700        0      3
27   100702        0      9
28   100706        0    157
29   100740       20    628
..      ...      ...    ...
160  300433        0      6
161  300447        0      1
162  300448        0     55
163  300450        0     16
164  300465       16    107
165  300474        0      1
166  300495       26    767
167  300512        4     35
168  300515        3      6
169  300521       12   1359
170  300523        0     34
171  300524        7     33
172  300525        0      3
173  300609        0      1
174  300632        1    511
175  300667        0      8
176  300681       34   1072
177  300685        1      7
178  300706        0    460
179  300731       27   5719
180  300736        0      1
181  300739        0      2
182  300742        0    103
183  300743       16   1491
184  300752        0      7
185  300768        0      1
186  300771        0     46
187  300772        1     72
188  300773        2     77
189    null        0  17867

[190 rows x 3 columns]

In [23]:
grp_hstry_map_id.sort_values(by='total', ascending=False, inplace=True)

In [24]:
grp_hstry_map_id['cumsum']=grp_hstry_map_id['total'].cumsum()
grp_hstry_map_id

      payer  invalid  total  cumsum
125  300052      212  37796   37796
133  300075       87  23250   61046
189    null        0  17867   78913
137  300113      100  11530   90443
146  300285      460  10298  100741
150  300316       77   7140  107881
179  300731       27   5719  113600
136  300083      136   4996  118596
121  300010       89   4813  123409
131  300072       19   4596  128005
91   107642       16   3182  131187
134  300079      127   2841  134028
126  300062       55   2489  136517
16   100403       26   2254  138771
153  300354       13   2123  140894
132  300073        5   2053  142947
62   101916       38   1790  144737
61   101898        0   1709  146446
85   105346        2   1641  148087
183  300743       16   1491  149578
128  300069       27   1385  150963
169  300521       12   1359  152322
37   101116       17   1271  153593
144  300279       12   1191  154784
147  300308       11   1152  155936
120  300008       14   1146  157082
124  300024       23   1143  158225
140  300123       22   1095  159320
176  300681       34   1072  160392
36   101112        3   1001  161393
..      ...      ...    ...     ...
108  113307        0      2  185272
181  300739        0      2  185274
78   105042        0      2  185276
44   101246        0      2  185278
68   102211        0      2  185280
49   101381        0      2  185282
48   101364        0      2  185284
14   100367        0      2  185286
71   102389        0      2  185288
119  115081        0      2  185290
66   101990        2      2  185292
89   106516        0      2  185294
92   108180        0      2  185296
47   101322        0      2  185298
77   104974        0      1  185299
69   102258        0      1  185300
76   104971        0      1  185301
185  300768        0      1  185302
35   100937        0      1  185303
32   100775        0      1  185304
165  300474        0      1  185305
180  300736        0      1  185306
3    100095        0      1  185307
97   109931        0      1  185308
161  300447        0      1  185309
67   102189        0      1  185310
173  300609        0      1  185311
56   101720        0      1  185312
118  114363        0      1  185313
114  113928        1      1  185314

[190 rows x 4 columns]

In [25]:
grp_hstry_map_id['percentage']=(grp_hstry_map_id['cumsum']/(train_data_frame.shape[0]))*100
grp_hstry_map_id

      payer  invalid  total  cumsum  percentage
125  300052      212  37796   37796   20.395653
133  300075       87  23250   61046   32.941926
189    null        0  17867   78913   42.583399
137  300113      100  11530   90443   48.805271
146  300285      460  10298  100741   54.362326
150  300316       77   7140  107881   58.215245
179  300731       27   5719  113600   61.301359
136  300083      136   4996  118596   63.997323
121  300010       89   4813  123409   66.594537
131  300072       19   4596  128005   69.074652
91   107642       16   3182  131187   70.791737
134  300079      127   2841  134028   72.324811
126  300062       55   2489  136517   73.667937
16   100403       26   2254  138771   74.884251
153  300354       13   2123  140894   76.029874
132  300073        5   2053  142947   77.137723
62   101916       38   1790  144737   78.103651
61   101898        0   1709  146446   79.025870
85   105346        2   1641  148087   79.911394
183  300743       16   1491  149578   80.715974
128  300069       27   1385  150963   81.463354
169  300521       12   1359  152322   82.196704
37   101116       17   1271  153593   82.882567
144  300279       12   1191  154784   83.525260
147  300308       11   1152  155936   84.146907
120  300008       14   1146  157082   84.765317
124  300024       23   1143  158225   85.382108
140  300123       22   1095  159320   85.972997
176  300681       34   1072  160392   86.551475
36   101112        3   1001  161393   87.091639
..      ...      ...    ...     ...         ...
108  113307        0      2  185272   99.977336
181  300739        0      2  185274   99.978415
78   105042        0      2  185276   99.979494
44   101246        0      2  185278   99.980574
68   102211        0      2  185280   99.981653
49   101381        0      2  185282   99.982732
48   101364        0      2  185284   99.983811
14   100367        0      2  185286   99.984891
71   102389        0      2  185288   99.985970
119  115081        0      2  185290   99.987049
66   101990        2      2  185292   99.988128
89   106516        0      2  185294   99.989208
92   108180        0      2  185296   99.990287
47   101322        0      2  185298   99.991366
77   104974        0      1  185299   99.991906
69   102258        0      1  185300   99.992445
76   104971        0      1  185301   99.992985
185  300768        0      1  185302   99.993525
35   100937        0      1  185303   99.994064
32   100775        0      1  185304   99.994604
165  300474        0      1  185305   99.995143
180  300736        0      1  185306   99.995683
3    100095        0      1  185307   99.996223
97   109931        0      1  185308   99.996762
161  300447        0      1  185309   99.997302
67   102189        0      1  185310   99.997842
173  300609        0      1  185311   99.998381
56   101720        0      1  185312   99.998921
118  114363        0      1  185313   99.999460
114  113928        1      1  185314  100.000000

[190 rows x 5 columns]

In [26]:
grp_hstry_map_id.loc[grp_hstry_map_id['percentage']>90,column1]="others"

In [27]:
grp_hstry_map_id

      payer  invalid  total  cumsum  percentage
125  300052      212  37796   37796   20.395653
133  300075       87  23250   61046   32.941926
189    null        0  17867   78913   42.583399
137  300113      100  11530   90443   48.805271
146  300285      460  10298  100741   54.362326
150  300316       77   7140  107881   58.215245
179  300731       27   5719  113600   61.301359
136  300083      136   4996  118596   63.997323
121  300010       89   4813  123409   66.594537
131  300072       19   4596  128005   69.074652
91   107642       16   3182  131187   70.791737
134  300079      127   2841  134028   72.324811
126  300062       55   2489  136517   73.667937
16   100403       26   2254  138771   74.884251
153  300354       13   2123  140894   76.029874
132  300073        5   2053  142947   77.137723
62   101916       38   1790  144737   78.103651
61   101898        0   1709  146446   79.025870
85   105346        2   1641  148087   79.911394
183  300743       16   1491  149578   80.715974
128  300069       27   1385  150963   81.463354
169  300521       12   1359  152322   82.196704
37   101116       17   1271  153593   82.882567
144  300279       12   1191  154784   83.525260
147  300308       11   1152  155936   84.146907
120  300008       14   1146  157082   84.765317
124  300024       23   1143  158225   85.382108
140  300123       22   1095  159320   85.972997
176  300681       34   1072  160392   86.551475
36   101112        3   1001  161393   87.091639
..      ...      ...    ...     ...         ...
108  others        0      2  185272   99.977336
181  others        0      2  185274   99.978415
78   others        0      2  185276   99.979494
44   others        0      2  185278   99.980574
68   others        0      2  185280   99.981653
49   others        0      2  185282   99.982732
48   others        0      2  185284   99.983811
14   others        0      2  185286   99.984891
71   others        0      2  185288   99.985970
119  others        0      2  185290   99.987049
66   others        2      2  185292   99.988128
89   others        0      2  185294   99.989208
92   others        0      2  185296   99.990287
47   others        0      2  185298   99.991366
77   others        0      1  185299   99.991906
69   others        0      1  185300   99.992445
76   others        0      1  185301   99.992985
185  others        0      1  185302   99.993525
35   others        0      1  185303   99.994064
32   others        0      1  185304   99.994604
165  others        0      1  185305   99.995143
180  others        0      1  185306   99.995683
3    others        0      1  185307   99.996223
97   others        0      1  185308   99.996762
161  others        0      1  185309   99.997302
67   others        0      1  185310   99.997842
173  others        0      1  185311   99.998381
56   others        0      1  185312   99.998921
118  others        0      1  185313   99.999460
114  others        1      1  185314  100.000000

[190 rows x 5 columns]

In [28]:
grp_list = grp_hstry_map_id[column1].unique().tolist()

In [29]:
grp_hstry_map_id[column1].nunique()

37

In [30]:
train_data_frame[column1] = train[column1].apply(lambda x: x if (x in grp_list) else 'others')
train_data_frame

,pk_deduction_id,parent_deduction_id,fk_account_id,fk_acct_doc_header_id,fk_customer_map_id,fk_resposible_department_id,fk_deduction_priority_id,sold_to_party,fk_reason_category_id,fk_reason_code_map_id,...,longname,type_res,type_header,resolution_status,res_amount,header_amount,item_amount,header_status,resolution_type,output
0,4494786,NaN,16,150663270.0,46703049.0,None,2,100017,123,1077,...,Valid - Clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
1,4494792,NaN,16,150698385.0,46703049.0,None,4,100017,126,1083,...,None,4.0,NaN,1.0,3250.00,NaN,NaN,NaN,Promotion Settlement,1
2,4494798,NaN,16,150703881.0,46703049.0,None,4,100017,126,1083,...,Request Funds - Commit,4.0,NaN,1.0,7552.00,NaN,NaN,NaN,Promotion Settlement,1
3,4494801,NaN,16,150705336.0,46703049.0,None,4,100017,126,1083,...,Valid - Clear,4.0,NaN,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1
4,4494804,NaN,16,150705339.0,46703049.0,None,3,100017,126,1083,...,None,4.0,NaN,1.0,1047.60,NaN,NaN,NaN,Promotion Settlement,1
5,4494807,NaN,16,150705342.0,46703049.0,None,4,100017,126,1083,...,Valid - Clear,4.0,NaN,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1
6,4494810,NaN,16,150705345.0,46703049.0,None,3,100017,126,1083,...,None,4.0,NaN,1.0,565.92,NaN,NaN,NaN,Promotion Settlement,1
7,4494813,NaN,16,150705510.0,46703049.0,None,5,100017,126,1083,...,Request Funds - Budget,4.0,NaN,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1
8,4494819,NaN,16,150663246.0,46703058.0,None,4,100024,123,1092,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
9,4494822,NaN,16,150696018.0,46703058.0,None,2,100024,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
10,4494825,NaN,16,150696243.0,46703058.0,None,2,100024,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
11,4494828,NaN,16,150696246.0,46703058.0,None,2,100024,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
12,4494831,NaN,16,150696249.0,46703058.0,None,2,100024,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
13,4494834,NaN,16,150701208.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,491.25,NaN,NaN,NaN,Promotion Settlement,1
14,4494837,NaN,16,150701211.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,250.00,NaN,NaN,NaN,Promotion Settlement,1
15,4494840,NaN,16,150701214.0,46703058.0,None,2,100024,126,1083,...,None,4.0,NaN,1.0,15933.30,NaN,NaN,NaN,Promotion Settlement,1
16,4494843,NaN,16,150701265.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,44.00,NaN,NaN,NaN,Promotion Settlement,1
17,4494846,NaN,16,150701280.0,46703058.0,None,3,100024,126,1083,...,Reinstate,7.0,NaN,1.0,301.44,NaN,NaN,NaN,Re-Instate,1
18,4494849,NaN,16,150701286.0,46703058.0,None,1,100024,126,1083,...,None,4.0,NaN,1.0,152.00,NaN,NaN,NaN,Promotion Settlement,1
19,4494852,NaN,16,150703266.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,300.00,NaN,NaN,NaN,Promotion Settlement,1
20,4494855,NaN,16,150703269.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,74.97,NaN,NaN,NaN,Promotion Settlement,1
21,4494858,NaN,16,150703272.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,200.40,NaN,NaN,NaN,Promotion Settlement,1
22,4494861,NaN,16,150703275.0,46703058.0,None,2,100024,126,1083,...,None,4.0,NaN,1.0,567.60,NaN,NaN,NaN,Promotion Settlement,1
23,4494864,NaN,16,150703278.0,46703058.0,None,3,100024,126,1083,...,Request Funds - Budget,4.0,NaN,1.0,44.00,NaN,NaN,NaN,Promotion Settlement,1
24,4494867,NaN,16,150703281.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,1222.50,NaN,NaN,NaN,Promotion Settlement,1
25,4494870,NaN,16,150703284.0,46703058.0,None,3,100024,126,1083,...,Request Funds - Commit,4.0,NaN,1.0,0.00,NaN,NaN,NaN,Promotion Settlement,1
26,4494873,NaN,16,150703287.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,3518.35,NaN,NaN,NaN,Promotion Settlement,1
27,4494876,NaN,16,150704406.0,46703058.0,None,2,100024,126,1083,...,None,4.0,NaN,1.0,655.20,NaN,NaN,NaN,Promotion Settlement,1
28,4494879,NaN,16,150704412.0,46703058.0,None,3,100024,126,1083,...,None,4.0,NaN,1.0,415.20,NaN,NaN,NaN,Promotion Settlement,1
29,4494882,NaN,16,150704415.0,46703058.0,None,2,100024,126,1083,...,None,4.0,NaN,1.0,430.32,NaN,NaN,NaN,Promotion Settlement,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204153,31404144,NaN,16,579120663.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204154,31404145,NaN,16,579120664.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204155,31404146,NaN,16,579120665.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204156,31404147,NaN,16,579120666.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204157,31404148,NaN,16,579120667.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204158,31404149,NaN,16,579120668.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204159,31404150,NaN,16,579120669.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204160,31404151,NaN,16,579120670.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204161,31404152,NaN,16,579120671.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204162,31404153,NaN,16,579120672.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204163,31404154,NaN,16,579120673.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204164,31404155,NaN,16,579120674.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204165,31404156,NaN,16,579120675.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204166,31404157,NaN,16,579120676.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204167,31404158,NaN,16,579120677.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204168,31404159,NaN,16,579120678.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204169,31404160,NaN,16,579120679.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204170,31404161,NaN,16,579120680.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204171,31404166,NaN,16,579120685.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204172,31404167,NaN,16,579120686.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204173,31404168,NaN,16,579120687.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204174,31404169,NaN,16,579120688.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204175,31404170,NaN,16,579120689.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204176,31404175,NaN,16,579120694.0,46707573.0,None,5,101810,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204177,31404177,NaN,16,579120696.0,46707573.0,None,5,101810,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204178,31404178,NaN,16,579120697.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
204179,31404179,NaN,16,579120698.0,46707573.0,None,5,101795,123,1119,...,Submit for NRWO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
205211,31425696,NaN,16,579127756.0,46707459.0,None,5,100131,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
205547,31437268,NaN,16,579134109.0,46707498.0,None,5,113375,123,2256,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
205968,31463154,NaN,16,579142888.0,46707516.0,None,5,100346,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1

In [31]:
test_data_frame[column1] = test_data_frame[column1].apply(lambda x: x if (x in grp_list) else 'others')
test_data_frame

,pk_deduction_id,parent_deduction_id,fk_account_id,fk_acct_doc_header_id,fk_customer_map_id,fk_resposible_department_id,fk_deduction_priority_id,sold_to_party,fk_reason_category_id,fk_reason_code_map_id,...,longname,type_res,type_header,resolution_status,res_amount,header_amount,item_amount,header_status,resolution_type,output
165594,30347320,29830444.0,16,578686304.0,46704234.0,None,1,101916,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165595,30347321,NaN,16,578686305.0,46706448.0,None,1,112167,126,1083,...,None,4.0,NaN,1.0,966.00,NaN,NaN,NaN,Promotion Settlement,1
165596,30347322,NaN,16,578686306.0,46706448.0,None,1,112167,126,1083,...,None,4.0,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1
165597,30347323,NaN,16,578686307.0,46707465.0,None,4,100223,126,1083,...,Valid - Clear,4.0,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1
165598,30347324,NaN,16,578686308.0,46707465.0,None,5,100223,126,1083,...,Valid - Clear,4.0,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1
165599,30347325,NaN,16,578686309.0,46707465.0,None,5,100223,126,1083,...,Valid - Clear,4.0,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1
165600,30347326,NaN,16,578686311.0,46707465.0,None,4,100223,126,1083,...,Valid - Clear,4.0,NaN,1.0,2000.00,NaN,NaN,NaN,Promotion Settlement,1
165605,30347331,30268441.0,16,578686316.0,46704234.0,None,2,101916,126,1083,...,Valid - Clear,4.0,NaN,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1
165606,30347332,30268452.0,16,578686317.0,46704234.0,None,2,101916,126,1083,...,Valid - Clear,4.0,NaN,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1
165607,30347333,30281445.0,16,578686318.0,46704234.0,None,2,101916,126,1083,...,Valid - Clear,4.0,NaN,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1
165613,30347339,NaN,16,578686335.0,46707456.0,None,1,100109,126,1083,...,Request Funds - Commit - Sales,4.0,NaN,1.0,4530.00,NaN,NaN,NaN,Promotion Settlement,1
165614,30347340,NaN,16,578686336.0,46707456.0,None,4,100109,126,1083,...,Request Funds - Budget,4.0,NaN,1.0,99.84,NaN,NaN,NaN,Promotion Settlement,1
165615,30347341,NaN,16,578686337.0,46707471.0,None,1,100932,123,1128,...,Valid - Clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165616,30347342,NaN,16,578686338.0,46707471.0,None,1,100932,123,1128,...,Valid - Clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165617,30347343,NaN,16,578686339.0,46707471.0,None,2,100932,123,1128,...,Valid - Clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165618,30347344,NaN,16,578686340.0,46707516.0,None,5,110054,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165619,30347345,NaN,16,578686341.0,46707516.0,None,3,108459,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165620,30347346,NaN,16,578686342.0,46707516.0,None,3,114058,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165621,30347347,NaN,16,578686343.0,46707516.0,None,3,114058,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165622,30347348,NaN,16,578686344.0,46707516.0,None,3,100346,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165623,30347349,30035771.0,16,578686345.0,46707543.0,None,1,106065,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165624,30347350,NaN,16,578686346.0,46707516.0,None,3,100346,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165625,30347351,NaN,16,578686347.0,46707516.0,None,3,100346,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165626,30347352,NaN,16,578686348.0,46707516.0,None,3,100346,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165627,30347353,NaN,16,578686349.0,46707516.0,None,3,100346,123,2255,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165628,30347354,NaN,16,578686350.0,46707471.0,None,4,100932,123,1155,...,Valid - Clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165629,30347355,NaN,16,578686351.0,46707471.0,None,4,100932,123,1155,...,Valid - Clear,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
165630,30347356,NaN,16,578686352.0,46707471.0,None,1,100932,126,1083,...,Valid - Clear,2.0,4.0,1.0,0.19,1798.1,839.52,1.0,Write-Off,1
165631,30347357,NaN,16,578686353.0,46707471.0,None,1,100932,126,1083,...,None,4.0,NaN,1.0,141.44,NaN,NaN,NaN,Promotion Settlement,1
165632,30347358,NaN,16,578686354.0,46707471.0,None,1,100932,126,1083,...,Valid - Clear,NaN,4.0,NaN,NaN,9813.0,4950.00,1.0,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206540,31507976,NaN,16,579160789.0,46707516.0,None,1,100346,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206541,31507978,NaN,16,579160791.0,46707516.0,None,1,100346,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206542,31507982,NaN,16,579160795.0,46707516.0,None,1,100346,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206543,31507983,NaN,16,579160796.0,46707516.0,None,1,100346,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206544,31507984,NaN,16,579160797.0,46707516.0,None,1,110054,126,1083,...,None,4.0,NaN,1.0,159073.89,NaN,NaN,NaN,Promotion Settlement,1
206545,31508075,NaN,16,579160930.0,46703328.0,None,1,100403,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206546,31508076,NaN,16,579160931.0,46703328.0,None,1,100403,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206547,31508077,NaN,16,579160932.0,46703328.0,None,1,100403,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206548,31508086,NaN,16,579160947.0,46707663.0,None,1,113094,123,1077,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206549,31508118,NaN,16,579161853.0,46707471.0,None,1,101364,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206550,31508122,NaN,16,579161857.0,46707501.0,None,2,101722,123,1128,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206551,31508123,NaN,16,579161858.0,46707543.0,None,2,106331,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206552,31508124,NaN,16,579161859.0,46707543.0,None,3,106331,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206553,31516062,31322824.0,16,579163327.0,46703532.0,None,1,100740,123,1086,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206554,31516068,NaN,16,579163333.0,46707618.0,None,1,106331,126,1083,...,Valid - Clear,4.0,NaN,1.0,19161.01,NaN,NaN,NaN,Promotion Settlement,1
206555,31516071,NaN,16,579164787.0,46703604.0,None,1,100896,123,1155,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206556,31516072,NaN,16,579164788.0,46703976.0,None,2,101507,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206557,31516073,NaN,16,579164789.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206558,31516074,31364625.0,16,579164790.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206559,31516075,31364651.0,16,579164791.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206560,31516076,31367445.0,16,579164792.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206561,31516077,31379297.0,16,579164793.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206562,31516078,31378964.0,16,579164794.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206563,31516079,NaN,16,579164795.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206564,31516080,NaN,16,579164796.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206565,31516081,NaN,16,579164797.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206566,31516082,NaN,16,579164798.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206567,31516083,31414347.0,16,579164799.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206568,31516084,31418884.0,16,579164800.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1
206569,31516085,31409805.0,16,579164801.0,46707471.0,None,1,100932,123,1125,...,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,1