In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")



def createTrainTest():
    #basicImports()
    data = pd.read_pickle(r"C:\Users\rajneesh.jha\Downloads\deduction\three_tables_4_lakhs.pkl")

    data = data.drop_duplicates('pk_deduction_id')
    data.reset_index(inplace=True, drop=True)

    data['fk_action_code_id'] = data['fk_action_code_id'].fillna(-1)
    data.fk_action_code_id.value_counts(dropna=False)
    data['fk_action_code_id'] = data['fk_action_code_id'].astype(int)
    listid = [341, 419, 422, 425, 240, 243, 246, 428, 300]
    data['output'] = np.nan
    data.loc[(data.fk_action_code_id.isin(listid)), 'output'] = 0
    data.output.fillna(value=1, inplace=True)
    data['output'] = data.output.astype(int)

    import datetime

    train = data.loc[(data.deduction_created_date >= datetime.datetime(2015, 1, 2)) & (
            data.deduction_created_date <= datetime.datetime(2018, 5, 1))]
    # print(train.shape)
    # print(train)
    test = data.loc[data.deduction_created_date > datetime.datetime(2018, 1, 2)]

    return train,test


def getOthers(column1,train_Data_frame,test_Data_frame):
    #basicImports()

    train_Data_frame[column1].replace('\\N', np.nan, inplace=True)
    train_Data_frame[column1].replace(np.nan, 'null', inplace=True)
    train_Data_frame[column1] = train_Data_frame[column1].astype(str)
    test_Data_frame[column1].replace('\\N', np.nan, inplace=True)
    test_Data_frame[column1].replace(np.nan, 'null', inplace=True)
    test_Data_frame[column1] = test_Data_frame[column1].astype(str)
    grp_hstry_map_id = train_Data_frame.groupby(column1).agg({'output': 'sum', 'pk_deduction_id': 'count'})
    grp_hstry_map_id.reset_index(inplace=True)
    grp_hstry_map_id['output'] = grp_hstry_map_id['pk_deduction_id'] - grp_hstry_map_id['output']
    grp_hstry_map_id.columns = [column1, 'invalid', 'total']
    grp_hstry_map_id.sort_values(by='total', ascending=False, inplace=True)
    grp_hstry_map_id['cumsum'] = grp_hstry_map_id['total'].cumsum()
    grp_hstry_map_id['percentage'] = (grp_hstry_map_id['cumsum'] / (train_Data_frame.shape[0])) * 100
    grp_hstry_map_id.loc[grp_hstry_map_id['percentage'] > 90, column1] = "others"
    grp_list = grp_hstry_map_id[column1].unique().tolist()
    train_Data_frame[column1] = train_Data_frame[column1].apply(lambda x: x if (x in grp_list) else 'others')
    test_Data_frame[column1] = test_Data_frame[column1].apply(lambda x: x if (x in grp_list) else 'others')
    return train_Data_frame,test_Data_frame

train,test=createTrainTest()

In [2]:
train.shape

(185314, 215)

In [3]:
test.shape

(40267, 215)

In [4]:
def handlePreprocessing(train_Data_frame, test_Data_frame, column1, column2):
    train_Data_frame[column1].replace('\\N', np.nan, inplace=True)
    train_Data_frame[column1].replace(np.nan, 'null', inplace=True)
    train_Data_frame[column1] = train_Data_frame[column1].astype(str)

    train_Data_frame[column2].replace('\\N', np.nan, inplace=True)
    train_Data_frame[column2].replace(np.nan, 'null', inplace=True)
    train_Data_frame[column2] = train_Data_frame[column2].astype(str)

    # test Data processing
    test_Data_frame[column1].replace('\\N', np.nan, inplace=True)
    test_Data_frame[column1].replace(np.nan, 'null', inplace=True)
    test_Data_frame[column1] = test_Data_frame[column1].astype(str)

    test_Data_frame[column2].replace('\\N', np.nan, inplace=True)
    test_Data_frame[column2].replace(np.nan, 'null', inplace=True)
    test_Data_frame[column2] = test_Data_frame[column2].astype(str)
    
    return train_Data_frame, test_Data_frame

In [5]:
column1='fk_customer_map_id'
column2='ar_reason_code'

In [6]:
train_Data_frame,test_Data_frame=handlePreprocessing(train,test,column1,column2)

In [7]:
train_Data_frame,test_Data_frame=getOthers(column1,train_Data_frame,test_Data_frame)
reason_category = train_Data_frame.groupby([column1, column2]).agg(
        {'output': 'sum', 'pk_deduction_id': 'count'}).sort_values('pk_deduction_id', ascending=False)

In [8]:
reason_category

                                   output  pk_deduction_id
fk_customer_map_id ar_reason_code
46707471.0         006              30396            30472
46707498.0         006              20535            20586
others             null              9832             9832
46707516.0         006               7896             7974
others             006               5309             5416
46707471.0         044               4034             4035
46707456.0         006               3343             3378
46707543.0         003               3147             3317
46707663.0         003               3246             3265
46707558.0         003               3125             3125
46707492.0         006               3080             3097
46707558.0         009               2657             2729
46707543.0         045               2688             2699
46707507.0         003               2382             2512
46707543.0         006               2394             2412
46707159.0         null              2059             2059
46707495.0         006               1643             1647
46707567.0         006               1551             1564
46707474.0         006               1536             1562
46707507.0         009               1530             1530
46704234.0         006               1456             1490
46707516.0         003               1451             1458
46703277.0         null              1409             1409
46705356.0         006               1351             1351
46707471.0         043               1231             1231
46704213.0         006               1190             1190
others             003               1106             1161
46703706.0         006               1107             1119
46707204.0         null              1090             1090
46707498.0         007               1083             1086
...                                   ...              ...
46703205.0         043                  1                1
46707525.0         010                  1                1
46704960.0         144                  1                1
46707453.0         016                  1                1
46707654.0         109                  1                1
                   104                  1                1
46707453.0         014                  1                1
46707654.0         065                  1                1
46703397.0         014                  1                1
46705356.0         044                  1                1
46707654.0         018                  1                1
                   016                  1                1
46704213.0         033                  1                1
46703697.0         012                  1                1
46705356.0         009                  0                1
46704960.0         012                  1                1
46707609.0         013                  1                1
46703697.0         113                  1                1
46707618.0         167                  1                1
                   116                  1                1
46707516.0         167                  1                1
46703697.0         116                  1                1
46707516.0         178                  1                1
46703697.0         144                  0                1
46707522.0         009                  1                1
                   010                  1                1
46704261.0         109                  1                1
46703247.0         109                  0                1
46707609.0         043                  1                1
46707528.0         078                  1                1

[719 rows x 2 columns]

In [9]:
reason_category.reset_index(inplace=True)

In [10]:
reason_category[reason_category['fk_customer_map_id']==str(46707516.0)]

    fk_customer_map_id ar_reason_code  output  pk_deduction_id
3           46707516.0            006    7896             7974
21          46707516.0            003    1451             1458
52          46707516.0            007     583              587
86          46707516.0            044     364              364
116         46707516.0            009     217              217
134         46707516.0            012     164              166
150         46707516.0            013     132              132
153         46707516.0            016     126              129
159         46707516.0            103     115              115
162         46707516.0            043     102              102
204         46707516.0            107      63               63
219         46707516.0            010      56               56
223         46707516.0            078      53               53
329         46707516.0            014      20               20
346         46707516.0            004      18               18
371         46707516.0            136      12               13
379         46707516.0            067       9               12
386         46707516.0            109       9               11
395         46707516.0            049      10               10
427         46707516.0            112       7                7
443         46707516.0            104       6                6
486         46707516.0            116       4                4
551         46707516.0            036       3                3
584         46707516.0            018       2                2
585         46707516.0            035       2                2
587         46707516.0            053       2                2
592         46707516.0            110       2                2
709         46707516.0            167       1                1
711         46707516.0            178       1                1

In [11]:
reason_category['fk_customer_map_id'].nunique()

60

In [12]:
reason_category['ar_reason_code'].nunique()

42

In [13]:
reason_category.groupby([column1,column2]).agg({'output': 'first', 'pk_deduction_id': 'first'})

                                   output  pk_deduction_id
fk_customer_map_id ar_reason_code
46703121.0         null               630              630
46703205.0         003                 44               45
                   004                  1                1
                   006                458              460
                   007                  4                4
                   009                 31               31
                   010                  3                3
                   012                  1                1
                   013                 15               15
                   043                  1                1
                   044                  4                4
                   078                  2                2
46703247.0         003                 12               12
                   006                420              422
                   007                  1                1
                   009                 41               41
                   010                  2                2
                   016                 15               15
                   043                 29               29
                   053                  2                2
                   078                  1                1
                   109                  0                1
46703277.0         null              1409             1409
46703328.0         003                178              183
                   004                 19               19
                   006                946              947
                   007                720              720
                   009                 39               39
                   010                 46               48
                   013                 47               47
...                                   ...              ...
others             004                 41               41
                   006               5309             5416
                   007                497              509
                   009                633              633
                   010                 44               46
                   012                  8                8
                   013                 35               35
                   014                 11               14
                   016                314              316
                   018                  2                2
                   033                  2                2
                   035                  2                2
                   036                 46               51
                   043                201              201
                   044                160              161
                   049                 42               45
                   053                 47               47
                   067                  5                5
                   078                235              235
                   103                 59               86
                   104                 26               29
                   107                  1                6
                   109                  9                9
                   112                  1                1
                   116                  1                2
                   136                  4                8
                   144                  2                2
                   167                  1                3
                   178                  7                7
                   null              9832             9832

[719 rows x 2 columns]

In [14]:
reason_category.reset_index(inplace=True)
reason_category

     index fk_customer_map_id ar_reason_code  output  pk_deduction_id
0        0         46707471.0            006   30396            30472
1        1         46707498.0            006   20535            20586
2        2             others           null    9832             9832
3        3         46707516.0            006    7896             7974
4        4             others            006    5309             5416
5        5         46707471.0            044    4034             4035
6        6         46707456.0            006    3343             3378
7        7         46707543.0            003    3147             3317
8        8         46707663.0            003    3246             3265
9        9         46707558.0            003    3125             3125
10      10         46707492.0            006    3080             3097
11      11         46707558.0            009    2657             2729
12      12         46707543.0            045    2688             2699
13      13         46707507.0            003    2382             2512
14      14         46707543.0            006    2394             2412
15      15         46707159.0           null    2059             2059
16      16         46707495.0            006    1643             1647
17      17         46707567.0            006    1551             1564
18      18         46707474.0            006    1536             1562
19      19         46707507.0            009    1530             1530
20      20         46704234.0            006    1456             1490
21      21         46707516.0            003    1451             1458
22      22         46703277.0           null    1409             1409
23      23         46705356.0            006    1351             1351
24      24         46707471.0            043    1231             1231
25      25         46704213.0            006    1190             1190
26      26             others            003    1106             1161
27      27         46703706.0            006    1107             1119
28      28         46707204.0           null    1090             1090
29      29         46707498.0            007    1083             1086
..     ...                ...            ...     ...              ...
689    689         46703205.0            043       1                1
690    690         46707525.0            010       1                1
691    691         46704960.0            144       1                1
692    692         46707453.0            016       1                1
693    693         46707654.0            109       1                1
694    694         46707654.0            104       1                1
695    695         46707453.0            014       1                1
696    696         46707654.0            065       1                1
697    697         46703397.0            014       1                1
698    698         46705356.0            044       1                1
699    699         46707654.0            018       1                1
700    700         46707654.0            016       1                1
701    701         46704213.0            033       1                1
702    702         46703697.0            012       1                1
703    703         46705356.0            009       0                1
704    704         46704960.0            012       1                1
705    705         46707609.0            013       1                1
706    706         46703697.0            113       1                1
707    707         46707618.0            167       1                1
708    708         46707618.0            116       1                1
709    709         46707516.0            167       1                1
710    710         46703697.0            116       1                1
711    711         46707516.0            178       1                1
712    712         46703697.0            144       0                1
713    713         46707522.0            009       1                1
714    714         46707522.0            010       1                1
715    715         46704261.0            109       1                1
716    716         46703247.0            109       0                1
717    717         46707609.0            043       1                1
718    718         46707528.0            078       1                1

[719 rows x 5 columns]

In [15]:
del reason_category['index']

In [16]:
reason_category['output'] = reason_category['pk_deduction_id'] - reason_category['output']

In [17]:
reason_category

    fk_customer_map_id ar_reason_code  output  pk_deduction_id
0           46707471.0            006      76            30472
1           46707498.0            006      51            20586
2               others           null       0             9832
3           46707516.0            006      78             7974
4               others            006     107             5416
5           46707471.0            044       1             4035
6           46707456.0            006      35             3378
7           46707543.0            003     170             3317
8           46707663.0            003      19             3265
9           46707558.0            003       0             3125
10          46707492.0            006      17             3097
11          46707558.0            009      72             2729
12          46707543.0            045      11             2699
13          46707507.0            003     130             2512
14          46707543.0            006      18             2412
15          46707159.0           null       0             2059
16          46707495.0            006       4             1647
17          46707567.0            006      13             1564
18          46707474.0            006      26             1562
19          46707507.0            009       0             1530
20          46704234.0            006      34             1490
21          46707516.0            003       7             1458
22          46703277.0           null       0             1409
23          46705356.0            006       0             1351
24          46707471.0            043       0             1231
25          46704213.0            006       0             1190
26              others            003      55             1161
27          46703706.0            006      12             1119
28          46707204.0           null       0             1090
29          46707498.0            007       3             1086
..                 ...            ...     ...              ...
689         46703205.0            043       0                1
690         46707525.0            010       0                1
691         46704960.0            144       0                1
692         46707453.0            016       0                1
693         46707654.0            109       0                1
694         46707654.0            104       0                1
695         46707453.0            014       0                1
696         46707654.0            065       0                1
697         46703397.0            014       0                1
698         46705356.0            044       0                1
699         46707654.0            018       0                1
700         46707654.0            016       0                1
701         46704213.0            033       0                1
702         46703697.0            012       0                1
703         46705356.0            009       1                1
704         46704960.0            012       0                1
705         46707609.0            013       0                1
706         46703697.0            113       0                1
707         46707618.0            167       0                1
708         46707618.0            116       0                1
709         46707516.0            167       0                1
710         46703697.0            116       0                1
711         46707516.0            178       0                1
712         46703697.0            144       1                1
713         46707522.0            009       0                1
714         46707522.0            010       0                1
715         46704261.0            109       0                1
716         46703247.0            109       1                1
717         46707609.0            043       0                1
718         46707528.0            078       0                1

[719 rows x 4 columns]

In [18]:
reason_category.columns = [column1, column2, 'invalid', 'new_total']

In [19]:
reason_category

    fk_customer_map_id ar_reason_code  invalid  new_total
0           46707471.0            006       76      30472
1           46707498.0            006       51      20586
2               others           null        0       9832
3           46707516.0            006       78       7974
4               others            006      107       5416
5           46707471.0            044        1       4035
6           46707456.0            006       35       3378
7           46707543.0            003      170       3317
8           46707663.0            003       19       3265
9           46707558.0            003        0       3125
10          46707492.0            006       17       3097
11          46707558.0            009       72       2729
12          46707543.0            045       11       2699
13          46707507.0            003      130       2512
14          46707543.0            006       18       2412
15          46707159.0           null        0       2059
16          46707495.0            006        4       1647
17          46707567.0            006       13       1564
18          46707474.0            006       26       1562
19          46707507.0            009        0       1530
20          46704234.0            006       34       1490
21          46707516.0            003        7       1458
22          46703277.0           null        0       1409
23          46705356.0            006        0       1351
24          46707471.0            043        0       1231
25          46704213.0            006        0       1190
26              others            003       55       1161
27          46703706.0            006       12       1119
28          46707204.0           null        0       1090
29          46707498.0            007        3       1086
..                 ...            ...      ...        ...
689         46703205.0            043        0          1
690         46707525.0            010        0          1
691         46704960.0            144        0          1
692         46707453.0            016        0          1
693         46707654.0            109        0          1
694         46707654.0            104        0          1
695         46707453.0            014        0          1
696         46707654.0            065        0          1
697         46703397.0            014        0          1
698         46705356.0            044        0          1
699         46707654.0            018        0          1
700         46707654.0            016        0          1
701         46704213.0            033        0          1
702         46703697.0            012        0          1
703         46705356.0            009        1          1
704         46704960.0            012        0          1
705         46707609.0            013        0          1
706         46703697.0            113        0          1
707         46707618.0            167        0          1
708         46707618.0            116        0          1
709         46707516.0            167        0          1
710         46703697.0            116        0          1
711         46707516.0            178        0          1
712         46703697.0            144        1          1
713         46707522.0            009        0          1
714         46707522.0            010        0          1
715         46704261.0            109        0          1
716         46703247.0            109        1          1
717         46707609.0            043        0          1
718         46707528.0            078        0          1

[719 rows x 4 columns]

In [20]:
rt_category = train_Data_frame.groupby([column1]).agg({'pk_deduction_id': 'count'})

In [21]:
rt_category

                    pk_deduction_id
fk_customer_map_id
46703121.0                      630
46703205.0                      567
46703247.0                      526
46703277.0                     1409
46703328.0                     2254
46703397.0                      824
46703463.0                      582
46703532.0                      628
46703574.0                      593
46703607.0                      578
46703613.0                      522
46703625.0                      606
46703697.0                     1001
46703706.0                     1271
46704213.0                     1709
46704234.0                     1790
46704261.0                      753
46704303.0                      623
46704960.0                     1641
46705356.0                     3182
46707159.0                     2059
46707177.0                      518
46707204.0                     1090
46707453.0                     1146
46707456.0                     4813
46707459.0                      665
46707465.0                      825
46707468.0                     1143
46707471.0                    37796
46707474.0                     2489
46707483.0                     1385
46707486.0                      620
46707489.0                      969
46707492.0                     4651
46707495.0                     2053
46707498.0                    23250
46707501.0                     2841
46707504.0                      877
46707507.0                     4996
46707516.0                    11530
46707522.0                      706
46707525.0                     1095
46707528.0                      855
46707531.0                      654
46707537.0                     1191
46707543.0                    10298
46707549.0                     1152
46707555.0                      598
46707558.0                     7140
46707567.0                     2123
46707573.0                      745
46707579.0                      679
46707585.0                      894
46707609.0                      767
46707618.0                     1359
46707639.0                      511
46707654.0                     1072
46707663.0                     5719
46707669.0                     1436
others                        18915

In [22]:
print(rt_category.shape)

(60, 1)

In [23]:
rt_category.reset_index(inplace=True)
rt_category.columns = [column1, 'grand_total_sum']

In [24]:
rt_category

   fk_customer_map_id  grand_total_sum
0          46703121.0              630
1          46703205.0              567
2          46703247.0              526
3          46703277.0             1409
4          46703328.0             2254
5          46703397.0              824
6          46703463.0              582
7          46703532.0              628
8          46703574.0              593
9          46703607.0              578
10         46703613.0              522
11         46703625.0              606
12         46703697.0             1001
13         46703706.0             1271
14         46704213.0             1709
15         46704234.0             1790
16         46704261.0              753
17         46704303.0              623
18         46704960.0             1641
19         46705356.0             3182
20         46707159.0             2059
21         46707177.0              518
22         46707204.0             1090
23         46707453.0             1146
24         46707456.0             4813
25         46707459.0              665
26         46707465.0              825
27         46707468.0             1143
28         46707471.0            37796
29         46707474.0             2489
30         46707483.0             1385
31         46707486.0              620
32         46707489.0              969
33         46707492.0             4651
34         46707495.0             2053
35         46707498.0            23250
36         46707501.0             2841
37         46707504.0              877
38         46707507.0             4996
39         46707516.0            11530
40         46707522.0              706
41         46707525.0             1095
42         46707528.0              855
43         46707531.0              654
44         46707537.0             1191
45         46707543.0            10298
46         46707549.0             1152
47         46707555.0              598
48         46707558.0             7140
49         46707567.0             2123
50         46707573.0              745
51         46707579.0              679
52         46707585.0              894
53         46707609.0              767
54         46707618.0             1359
55         46707639.0              511
56         46707654.0             1072
57         46707663.0             5719
58         46707669.0             1436
59             others            18915

In [25]:
final_reason_category = pd.merge(reason_category, rt_category, how='left', on=column1)

In [26]:
final_reason_category[final_reason_category['fk_customer_map_id']==str(46703205.0)]

    fk_customer_map_id ar_reason_code  invalid  new_total  grand_total_sum
75          46703205.0            006        2        460              567
242         46703205.0            003        1         45              567
283         46703205.0            009        0         31              567
357         46703205.0            013        0         15              567
487         46703205.0            007        0          4              567
508         46703205.0            044        0          4              567
541         46703205.0            010        0          3              567
602         46703205.0            078        0          2              567
649         46703205.0            004        0          1              567
652         46703205.0            012        0          1              567
689         46703205.0            043        0          1              567

In [28]:
final_reason_category

    fk_customer_map_id ar_reason_code  invalid  new_total  grand_total_sum
0           46707471.0            006       76      30472            37796
1           46707498.0            006       51      20586            23250
2               others           null        0       9832            18915
3           46707516.0            006       78       7974            11530
4               others            006      107       5416            18915
5           46707471.0            044        1       4035            37796
6           46707456.0            006       35       3378             4813
7           46707543.0            003      170       3317            10298
8           46707663.0            003       19       3265             5719
9           46707558.0            003        0       3125             7140
10          46707492.0            006       17       3097             4651
11          46707558.0            009       72       2729             7140
12          46707543.0            045       11       2699            10298
13          46707507.0            003      130       2512             4996
14          46707543.0            006       18       2412            10298
15          46707159.0           null        0       2059             2059
16          46707495.0            006        4       1647             2053
17          46707567.0            006       13       1564             2123
18          46707474.0            006       26       1562             2489
19          46707507.0            009        0       1530             4996
20          46704234.0            006       34       1490             1790
21          46707516.0            003        7       1458            11530
22          46703277.0           null        0       1409             1409
23          46705356.0            006        0       1351             3182
24          46707471.0            043        0       1231            37796
25          46704213.0            006        0       1190             1709
26              others            003       55       1161            18915
27          46703706.0            006       12       1119             1271
28          46707204.0           null        0       1090             1090
29          46707498.0            007        3       1086            23250
..                 ...            ...      ...        ...              ...
689         46703205.0            043        0          1              567
690         46707525.0            010        0          1             1095
691         46704960.0            144        0          1             1641
692         46707453.0            016        0          1             1146
693         46707654.0            109        0          1             1072
694         46707654.0            104        0          1             1072
695         46707453.0            014        0          1             1146
696         46707654.0            065        0          1             1072
697         46703397.0            014        0          1              824
698         46705356.0            044        0          1             3182
699         46707654.0            018        0          1             1072
700         46707654.0            016        0          1             1072
701         46704213.0            033        0          1             1709
702         46703697.0            012        0          1             1001
703         46705356.0            009        1          1             3182
704         46704960.0            012        0          1             1641
705         46707609.0            013        0          1              767
706         46703697.0            113        0          1             1001
707         46707618.0            167        0          1             1359
708         46707618.0            116        0          1             1359
709         46707516.0            167        0          1            11530
710         46703697.0            116        0          1             1001
711         46707516.0            178        0          1            11530
712         46703697.0            144        1          1             1001
713         46707522.0            009        0          1              706
714         46707522.0            010        0          1              706
715         46704261.0            109        0          1              753
716         46703247.0            109        1          1              526
717         46707609.0            043        0          1              767
718         46707528.0            078        0          1              855

[719 rows x 5 columns]

In [29]:
x = final_reason_category.groupby([column1])

In [30]:
x

In [31]:
u = list(x.groups.keys())
u

['46703121.0',
 '46703205.0',
 '46703247.0',
 '46703277.0',
 '46703328.0',
 '46703397.0',
 '46703463.0',
 '46703532.0',
 '46703574.0',
 '46703607.0',
 '46703613.0',
 '46703625.0',
 '46703697.0',
 '46703706.0',
 '46704213.0',
 '46704234.0',
 '46704261.0',
 '46704303.0',
 '46704960.0',
 '46705356.0',
 '46707159.0',
 '46707177.0',
 '46707204.0',
 '46707453.0',
 '46707456.0',
 '46707459.0',
 '46707465.0',
 '46707468.0',
 '46707471.0',
 '46707474.0',
 '46707483.0',
 '46707486.0',
 '46707489.0',
 '46707492.0',
 '46707495.0',
 '46707498.0',
 '46707501.0',
 '46707504.0',
 '46707507.0',
 '46707516.0',
 '46707522.0',
 '46707525.0',
 '46707528.0',
 '46707531.0',
 '46707537.0',
 '46707543.0',
 '46707549.0',
 '46707555.0',
 '46707558.0',
 '46707567.0',
 '46707573.0',
 '46707579.0',
 '46707585.0',
 '46707609.0',
 '46707618.0',
 '46707639.0',
 '46707654.0',
 '46707663.0',
 '46707669.0',
 'others']

In [32]:
len(u)

60

In [33]:
final = pd.DataFrame()

In [34]:
for i in u:
        df = x.get_group(i)
        df['cumsum'] = df['new_total'].cumsum()
        df['grand_total_sum'] = (0.90 * df['grand_total_sum']) - df['cumsum']
        df['label'] = df[column2].astype(str)
        if (df.ix[df['grand_total_sum'] < 0, :].shape[0]) != 1:
            df.ix[df['grand_total_sum'] < 0, :] = df.ix[df['grand_total_sum'] < 0, :].set_value(
                df.loc[df['grand_total_sum'] < 0, 'grand_total_sum'].index[0], 'grand_total_sum', 0.1)
        df.ix[df['new_total'] < 100, :] = df.ix[df['new_total'] < 100, :].set_value(
            df.loc[df['new_total'] < 100, 'new_total'].index, 'grand_total_sum', -0.1)
          
        df['invalid_ratio'] = df['invalid'] / df['new_total']
        df.loc[df['grand_total_sum'] < 0, 'label'] = 'others'
        if len(df.loc[df['grand_total_sum'] < 0, 'invalid_ratio']) != 0:
            df.loc[df['grand_total_sum'] < 0, 'invalid_ratio'] = ((df[df['grand_total_sum'] < 0]['invalid'].sum()) / (
                df[df['grand_total_sum'] < 0]['new_total'].sum()))
        
        df.sort_values('invalid_ratio', ascending=False, inplace=True)
        df['rank'] = df['invalid_ratio']
        df = df[[column1, column2, 'label', 'rank']]
        final = pd.concat([final, df])

        #print(df)
print(final)

    fk_customer_map_id ar_reason_code   label      rank
49          46703121.0           null  others  0.000000
242         46703205.0            003  others  0.009346
283         46703205.0            009  others  0.009346
357         46703205.0            013  others  0.009346
487         46703205.0            007  others  0.009346
508         46703205.0            044  others  0.009346
541         46703205.0            010  others  0.009346
602         46703205.0            078  others  0.009346
649         46703205.0            004  others  0.009346
652         46703205.0            012  others  0.009346
689         46703205.0            043  others  0.009346
75          46703205.0            006     006  0.004348
250         46703247.0            009  others  0.009615
289         46703247.0            043  others  0.009615
362         46703247.0            016  others  0.009615
378         46703247.0            003  others  0.009615
580         46703247.0            053  others  0.009615
595         46703247.0            010  others  0.009615
661         46703247.0            078  others  0.009615
677         46703247.0            007  others  0.009615
716         46703247.0            109  others  0.009615
77          46703247.0            006     006  0.004739
22          46703277.0           null  others  0.000000
170         46703328.0            103  others  0.049505
198         46703328.0            044  others  0.049505
214         46703328.0            078  others  0.049505
233         46703328.0            010  others  0.049505
238         46703328.0            013  others  0.049505
260         46703328.0            009  others  0.049505
336         46703328.0            004  others  0.049505
..                 ...            ...     ...       ...
266             others            013  others  0.037373
293             others            104  others  0.037373
570             others            018  others  0.037373
569             others            035  others  0.037373
566             others            033  others  0.037373
554             others            144  others  0.037373
553             others            116  others  0.037373
517             others            167  others  0.037373
471             others            067  others  0.037373
460             others            107  others  0.037373
439             others            178  others  0.037373
426             others            012  others  0.037373
420             others            136  others  0.037373
401             others            109  others  0.037373
365             others            014  others  0.037373
632             others            112  others  0.037373
255             others            004  others  0.037373
241             others            049  others  0.037373
239             others            010  others  0.037373
237             others            053  others  0.037373
225             others            036  others  0.037373
179             others            103  others  0.037373
137             others            044  others  0.037373
120             others            043  others  0.037373
108             others            078  others  0.037373
94              others            016  others  0.037373
65              others            007  others  0.037373
4               others            006     006  0.019756
48              others            009     009  0.000000
2               others           null    null  0.000000

[719 rows x 4 columns]

In [35]:
final['label'].nunique()

17

In [36]:
final.columns = [column1, column2, column2+"_xref_label", column1 + "_" + column2 + "_history"]
final[column1] = final[column1].astype(str)
final[column2] = final[column2].astype(str)

In [37]:
final

,fk_customer_map_id,ar_reason_code,ar_reason_code_xref_label,fk_customer_map_id_ar_reason_code_history
49,46703121.0,null,others,0.000000
242,46703205.0,003,others,0.009346
283,46703205.0,009,others,0.009346
357,46703205.0,013,others,0.009346
487,46703205.0,007,others,0.009346
508,46703205.0,044,others,0.009346
541,46703205.0,010,others,0.009346
602,46703205.0,078,others,0.009346
649,46703205.0,004,others,0.009346
652,46703205.0,012,others,0.009346
689,46703205.0,043,others,0.009346
75,46703205.0,006,006,0.004348
250,46703247.0,009,others,0.009615
289,46703247.0,043,others,0.009615
362,46703247.0,016,others,0.009615
378,46703247.0,003,others,0.009615
580,46703247.0,053,others,0.009615
595,46703247.0,010,others,0.009615
661,46703247.0,078,others,0.009615
677,46703247.0,007,others,0.009615
716,46703247.0,109,others,0.009615
77,46703247.0,006,006,0.004739
22,46703277.0,null,others,0.000000
170,46703328.0,103,others,0.049505
198,46703328.0,044,others,0.049505
214,46703328.0,078,others,0.049505
233,46703328.0,010,others,0.049505
238,46703328.0,013,others,0.049505
260,46703328.0,009,others,0.049505
336,46703328.0,004,others,0.049505
...,...,...,...,...
266,others,013,others,0.037373
293,others,104,others,0.037373
570,others,018,others,0.037373
569,others,035,others,0.037373
566,others,033,others,0.037373
554,others,144,others,0.037373
553,others,116,others,0.037373
517,others,167,others,0.037373
471,others,067,others,0.037373
460,others,107,others,0.037373
439,others,178,others,0.037373
426,others,012,others,0.037373
420,others,136,others,0.037373
401,others,109,others,0.037373
365,others,014,others,0.037373
632,others,112,others,0.037373
255,others,004,others,0.037373
241,others,049,others,0.037373
239,others,010,others,0.037373
237,others,053,others,0.037373
225,others,036,others,0.037373
179,others,103,others,0.037373
137,others,044,others,0.037373
120,others,043,others,0.037373
108,others,078,others,0.037373
94,others,016,others,0.037373
65,others,007,others,0.037373
4,others,006,006,0.019756
48,others,009,009,0.000000
2,others,null,null,0.000000

In [38]:
train_Data_frame = pd.merge(train_Data_frame, final, how='left', on=[column1, column2])

In [39]:
train_Data_frame

,pk_deduction_id,parent_deduction_id,fk_account_id,fk_acct_doc_header_id,fk_customer_map_id,fk_resposible_department_id,fk_deduction_priority_id,sold_to_party,fk_reason_category_id,fk_reason_code_map_id,...,type_header,resolution_status,res_amount,header_amount,item_amount,header_status,resolution_type,output,ar_reason_code_xref_label,fk_customer_map_id_ar_reason_code_history
0,4494786,NaN,16,150663270.0,others,None,2,100017,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.047373
1,4494792,NaN,16,150698385.0,others,None,4,100017,126,1083,...,NaN,1.0,3250.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
2,4494798,NaN,16,150703881.0,others,None,4,100017,126,1083,...,NaN,1.0,7552.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
3,4494801,NaN,16,150705336.0,others,None,4,100017,126,1083,...,NaN,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
4,4494804,NaN,16,150705339.0,others,None,3,100017,126,1083,...,NaN,1.0,1047.60,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
5,4494807,NaN,16,150705342.0,others,None,4,100017,126,1083,...,NaN,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
6,4494810,NaN,16,150705345.0,others,None,3,100017,126,1083,...,NaN,1.0,565.92,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
7,4494813,NaN,16,150705510.0,others,None,5,100017,126,1083,...,NaN,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
8,4494819,NaN,16,150663246.0,others,None,4,100024,123,1092,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.037373
9,4494822,NaN,16,150696018.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.047373
10,4494825,NaN,16,150696243.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.047373
11,4494828,NaN,16,150696246.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.047373
12,4494831,NaN,16,150696249.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.047373
13,4494834,NaN,16,150701208.0,others,None,3,100024,126,1083,...,NaN,1.0,491.25,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
14,4494837,NaN,16,150701211.0,others,None,3,100024,126,1083,...,NaN,1.0,250.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
15,4494840,NaN,16,150701214.0,others,None,2,100024,126,1083,...,NaN,1.0,15933.30,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
16,4494843,NaN,16,150701265.0,others,None,3,100024,126,1083,...,NaN,1.0,44.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
17,4494846,NaN,16,150701280.0,others,None,3,100024,126,1083,...,NaN,1.0,301.44,NaN,NaN,NaN,Re-Instate,1,006,0.019756
18,4494849,NaN,16,150701286.0,others,None,1,100024,126,1083,...,NaN,1.0,152.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
19,4494852,NaN,16,150703266.0,others,None,3,100024,126,1083,...,NaN,1.0,300.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
20,4494855,NaN,16,150703269.0,others,None,3,100024,126,1083,...,NaN,1.0,74.97,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
21,4494858,NaN,16,150703272.0,others,None,3,100024,126,1083,...,NaN,1.0,200.40,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
22,4494861,NaN,16,150703275.0,others,None,2,100024,126,1083,...,NaN,1.0,567.60,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
23,4494864,NaN,16,150703278.0,others,None,3,100024,126,1083,...,NaN,1.0,44.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
24,4494867,NaN,16,150703281.0,others,None,3,100024,126,1083,...,NaN,1.0,1222.50,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
25,4494870,NaN,16,150703284.0,others,None,3,100024,126,1083,...,NaN,1.0,0.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
26,4494873,NaN,16,150703287.0,others,None,3,100024,126,1083,...,NaN,1.0,3518.35,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
27,4494876,NaN,16,150704406.0,others,None,2,100024,126,1083,...,NaN,1.0,655.20,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
28,4494879,NaN,16,150704412.0,others,None,3,100024,126,1083,...,NaN,1.0,415.20,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
29,4494882,NaN,16,150704415.0,others,None,2,100024,126,1083,...,NaN,1.0,430.32,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185284,31404144,NaN,16,579120663.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185285,31404145,NaN,16,579120664.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185286,31404146,NaN,16,579120665.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185287,31404147,NaN,16,579120666.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185288,31404148,NaN,16,579120667.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185289,31404149,NaN,16,579120668.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185290,31404150,NaN,16,579120669.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185291,31404151,NaN,16,579120670.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185292,31404152,NaN,16,579120671.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185293,31404153,NaN,16,579120672.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185294,31404154,NaN,16,579120673.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185295,31404155,NaN,16,579120674.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185296,31404156,NaN,16,579120675.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185297,31404157,NaN,16,579120676.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185298,31404158,NaN,16,579120677.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185299,31404159,NaN,16,579120678.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185300,31404160,NaN,16,579120679.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185301,31404161,NaN,16,579120680.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185302,31404166,NaN,16,579120685.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185303,31404167,NaN,16,579120686.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185304,31404168,NaN,16,579120687.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185305,31404169,NaN,16,579120688.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185306,31404170,NaN,16,579120689.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185307,31404175,NaN,16,579120694.0,46707573.0,None,5,101810,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185308,31404177,NaN,16,579120696.0,46707573.0,None,5,101810,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185309,31404178,NaN,16,579120697.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185310,31404179,NaN,16,579120698.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,036,0.104575
185311,31425696,NaN,16,579127756.0,46707459.0,None,5,100131,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.000000
185312,31437268,NaN,16,579134109.0,46707498.0,None,5,113375,123,2256,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.020913
185313,31463154,NaN,16,579142888.0,46707516.0,None,5,100346,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.004801

In [40]:
test_Data_frame = pd.merge(test_Data_frame, final, how='left', on=[column1, column2])
test_Data_frame

,pk_deduction_id,parent_deduction_id,fk_account_id,fk_acct_doc_header_id,fk_customer_map_id,fk_resposible_department_id,fk_deduction_priority_id,sold_to_party,fk_reason_category_id,fk_reason_code_map_id,...,type_header,resolution_status,res_amount,header_amount,item_amount,header_status,resolution_type,output,ar_reason_code_xref_label,fk_customer_map_id_ar_reason_code_history
0,30347320,29830444.0,16,578686304.0,46704234.0,None,1,101916,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.033898
1,30347321,NaN,16,578686305.0,others,None,1,112167,126,1083,...,NaN,1.0,966.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
2,30347322,NaN,16,578686306.0,others,None,1,112167,126,1083,...,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.019756
3,30347323,NaN,16,578686307.0,46707465.0,None,4,100223,126,1083,...,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.005935
4,30347324,NaN,16,578686308.0,46707465.0,None,5,100223,126,1083,...,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.005935
5,30347325,NaN,16,578686309.0,46707465.0,None,5,100223,126,1083,...,NaN,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.005935
6,30347326,NaN,16,578686311.0,46707465.0,None,4,100223,126,1083,...,NaN,1.0,2000.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.005935
7,30347331,30268441.0,16,578686316.0,46704234.0,None,2,101916,126,1083,...,NaN,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1,006,0.022819
8,30347332,30268452.0,16,578686317.0,46704234.0,None,2,101916,126,1083,...,NaN,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1,006,0.022819
9,30347333,30281445.0,16,578686318.0,46704234.0,None,2,101916,126,1083,...,NaN,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1,006,0.022819
10,30347339,NaN,16,578686335.0,46707456.0,None,1,100109,126,1083,...,NaN,1.0,4530.00,NaN,NaN,NaN,Promotion Settlement,1,006,0.010361
11,30347340,NaN,16,578686336.0,46707456.0,None,4,100109,126,1083,...,NaN,1.0,99.84,NaN,NaN,NaN,Promotion Settlement,1,006,0.010361
12,30347341,NaN,16,578686337.0,46707471.0,None,1,100932,123,1128,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,044,0.000248
13,30347342,NaN,16,578686338.0,46707471.0,None,1,100932,123,1128,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,044,0.000248
14,30347343,NaN,16,578686339.0,46707471.0,None,2,100932,123,1128,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,044,0.000248
15,30347344,NaN,16,578686340.0,46707516.0,None,5,110054,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
16,30347345,NaN,16,578686341.0,46707516.0,None,3,108459,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
17,30347346,NaN,16,578686342.0,46707516.0,None,3,114058,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
18,30347347,NaN,16,578686343.0,46707516.0,None,3,114058,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
19,30347348,NaN,16,578686344.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
20,30347349,30035771.0,16,578686345.0,46707543.0,None,1,106065,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.051251
21,30347350,NaN,16,578686346.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
22,30347351,NaN,16,578686347.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
23,30347352,NaN,16,578686348.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
24,30347353,NaN,16,578686349.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.009590
25,30347354,NaN,16,578686350.0,46707471.0,None,4,100932,123,1155,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
26,30347355,NaN,16,578686351.0,46707471.0,None,4,100932,123,1155,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
27,30347356,NaN,16,578686352.0,46707471.0,None,1,100932,126,1083,...,4.0,1.0,0.19,1798.1,839.52,1.0,Write-Off,1,006,0.002494
28,30347357,NaN,16,578686353.0,46707471.0,None,1,100932,126,1083,...,NaN,1.0,141.44,NaN,NaN,NaN,Promotion Settlement,1,006,0.002494
29,30347358,NaN,16,578686354.0,46707471.0,None,1,100932,126,1083,...,4.0,NaN,NaN,9813.0,4950.00,1.0,None,1,006,0.002494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40237,31507976,NaN,16,579160789.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,007,0.006814
40238,31507978,NaN,16,579160791.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,007,0.006814
40239,31507982,NaN,16,579160795.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,007,0.006814
40240,31507983,NaN,16,579160796.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,007,0.006814
40241,31507984,NaN,16,579160797.0,46707516.0,None,1,110054,126,1083,...,NaN,1.0,159073.89,NaN,NaN,NaN,Promotion Settlement,1,006,0.009782
40242,31508075,NaN,16,579160930.0,46703328.0,None,1,100403,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,007,0.000000
40243,31508076,NaN,16,579160931.0,46703328.0,None,1,100403,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,007,0.000000
40244,31508077,NaN,16,579160932.0,46703328.0,None,1,100403,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,007,0.000000
40245,31508086,NaN,16,579160947.0,46707663.0,None,1,113094,123,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,003,0.005819
40246,31508118,NaN,16,579161853.0,46707471.0,None,1,101364,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40247,31508122,NaN,16,579161857.0,46707501.0,None,2,101722,123,1128,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,044,0.006148
40248,31508123,NaN,16,579161858.0,46707543.0,None,2,106331,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,043,0.000000
40249,31508124,NaN,16,579161859.0,46707543.0,None,3,106331,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,043,0.000000
40250,31516062,31322824.0,16,579163327.0,46703532.0,None,1,100740,123,1086,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.021875
40251,31516068,NaN,16,579163333.0,46707618.0,None,1,106331,126,1083,...,NaN,1.0,19161.01,NaN,NaN,NaN,Promotion Settlement,1,006,0.002475
40252,31516071,NaN,16,579164787.0,others,None,1,100896,123,1155,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.037373
40253,31516072,NaN,16,579164788.0,others,None,2,101507,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.037373
40254,31516073,NaN,16,579164789.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40255,31516074,31364625.0,16,579164790.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40256,31516075,31364651.0,16,579164791.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40257,31516076,31367445.0,16,579164792.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40258,31516077,31379297.0,16,579164793.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40259,31516078,31378964.0,16,579164794.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40260,31516079,NaN,16,579164795.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40261,31516080,NaN,16,579164796.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40262,31516081,NaN,16,579164797.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40263,31516082,NaN,16,579164798.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40264,31516083,31414347.0,16,579164799.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40265,31516084,31418884.0,16,579164800.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046
40266,31516085,31409805.0,16,579164801.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,NaN,None,1,others,0.041046

In [41]:
del train_Data_frame[column1 + "_" + column2 + "_history"]
del test_Data_frame[column1 + "_" + column2 + "_history"]
test_Data_frame.loc[test_Data_frame[column2+"_xref_label"].isnull(), column2+"_xref_label"] = 'others'

train_Data_frame.loc[train_Data_frame[column2+"_xref_label"].isnull(), column2+"_xref_label"] = 'others'
train_Data_frame = pd.merge(train_Data_frame, final.drop_duplicates([column1, column2+"_xref_label"]),
                                on=[column1, column2+"_xref_label"], how='left')

In [42]:
train_Data_frame

,pk_deduction_id,parent_deduction_id,fk_account_id,fk_acct_doc_header_id,fk_customer_map_id,fk_resposible_department_id,fk_deduction_priority_id,sold_to_party,fk_reason_category_id,fk_reason_code_map_id,...,resolution_status,res_amount,header_amount,item_amount,header_status,resolution_type,output,ar_reason_code_xref_label,ar_reason_code_y,fk_customer_map_id_ar_reason_code_history
0,4494786,NaN,16,150663270.0,others,None,2,100017,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.047373
1,4494792,NaN,16,150698385.0,others,None,4,100017,126,1083,...,1.0,3250.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
2,4494798,NaN,16,150703881.0,others,None,4,100017,126,1083,...,1.0,7552.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
3,4494801,NaN,16,150705336.0,others,None,4,100017,126,1083,...,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
4,4494804,NaN,16,150705339.0,others,None,3,100017,126,1083,...,1.0,1047.60,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
5,4494807,NaN,16,150705342.0,others,None,4,100017,126,1083,...,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
6,4494810,NaN,16,150705345.0,others,None,3,100017,126,1083,...,1.0,565.92,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
7,4494813,NaN,16,150705510.0,others,None,5,100017,126,1083,...,1.0,3957.60,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
8,4494819,NaN,16,150663246.0,others,None,4,100024,123,1092,...,NaN,NaN,NaN,NaN,NaN,None,1,others,013,0.037373
9,4494822,NaN,16,150696018.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.047373
10,4494825,NaN,16,150696243.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.047373
11,4494828,NaN,16,150696246.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.047373
12,4494831,NaN,16,150696249.0,others,None,2,100024,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.047373
13,4494834,NaN,16,150701208.0,others,None,3,100024,126,1083,...,1.0,491.25,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
14,4494837,NaN,16,150701211.0,others,None,3,100024,126,1083,...,1.0,250.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
15,4494840,NaN,16,150701214.0,others,None,2,100024,126,1083,...,1.0,15933.30,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
16,4494843,NaN,16,150701265.0,others,None,3,100024,126,1083,...,1.0,44.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
17,4494846,NaN,16,150701280.0,others,None,3,100024,126,1083,...,1.0,301.44,NaN,NaN,NaN,Re-Instate,1,006,006,0.019756
18,4494849,NaN,16,150701286.0,others,None,1,100024,126,1083,...,1.0,152.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
19,4494852,NaN,16,150703266.0,others,None,3,100024,126,1083,...,1.0,300.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
20,4494855,NaN,16,150703269.0,others,None,3,100024,126,1083,...,1.0,74.97,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
21,4494858,NaN,16,150703272.0,others,None,3,100024,126,1083,...,1.0,200.40,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
22,4494861,NaN,16,150703275.0,others,None,2,100024,126,1083,...,1.0,567.60,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
23,4494864,NaN,16,150703278.0,others,None,3,100024,126,1083,...,1.0,44.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
24,4494867,NaN,16,150703281.0,others,None,3,100024,126,1083,...,1.0,1222.50,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
25,4494870,NaN,16,150703284.0,others,None,3,100024,126,1083,...,1.0,0.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
26,4494873,NaN,16,150703287.0,others,None,3,100024,126,1083,...,1.0,3518.35,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
27,4494876,NaN,16,150704406.0,others,None,2,100024,126,1083,...,1.0,655.20,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
28,4494879,NaN,16,150704412.0,others,None,3,100024,126,1083,...,1.0,415.20,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
29,4494882,NaN,16,150704415.0,others,None,2,100024,126,1083,...,1.0,430.32,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185284,31404144,NaN,16,579120663.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185285,31404145,NaN,16,579120664.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185286,31404146,NaN,16,579120665.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185287,31404147,NaN,16,579120666.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185288,31404148,NaN,16,579120667.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185289,31404149,NaN,16,579120668.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185290,31404150,NaN,16,579120669.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185291,31404151,NaN,16,579120670.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185292,31404152,NaN,16,579120671.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185293,31404153,NaN,16,579120672.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185294,31404154,NaN,16,579120673.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185295,31404155,NaN,16,579120674.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185296,31404156,NaN,16,579120675.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185297,31404157,NaN,16,579120676.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185298,31404158,NaN,16,579120677.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185299,31404159,NaN,16,579120678.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185300,31404160,NaN,16,579120679.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185301,31404161,NaN,16,579120680.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185302,31404166,NaN,16,579120685.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185303,31404167,NaN,16,579120686.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185304,31404168,NaN,16,579120687.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185305,31404169,NaN,16,579120688.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185306,31404170,NaN,16,579120689.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185307,31404175,NaN,16,579120694.0,46707573.0,None,5,101810,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185308,31404177,NaN,16,579120696.0,46707573.0,None,5,101810,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185309,31404178,NaN,16,579120697.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185310,31404179,NaN,16,579120698.0,46707573.0,None,5,101795,123,1119,...,NaN,NaN,NaN,NaN,NaN,None,1,036,036,0.104575
185311,31425696,NaN,16,579127756.0,46707459.0,None,5,100131,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,others,003,0.000000
185312,31437268,NaN,16,579134109.0,46707498.0,None,5,113375,123,2256,...,NaN,NaN,NaN,NaN,NaN,None,1,others,013,0.020913
185313,31463154,NaN,16,579142888.0,46707516.0,None,5,100346,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.004801

In [43]:
test_Data_frame = pd.merge(test_Data_frame, final.drop_duplicates([column1, column2+"_xref_label"]),
                               on=[column1, column2+"_xref_label"], how='left')

In [44]:
test_Data_frame

,pk_deduction_id,parent_deduction_id,fk_account_id,fk_acct_doc_header_id,fk_customer_map_id,fk_resposible_department_id,fk_deduction_priority_id,sold_to_party,fk_reason_category_id,fk_reason_code_map_id,...,resolution_status,res_amount,header_amount,item_amount,header_status,resolution_type,output,ar_reason_code_xref_label,ar_reason_code_y,fk_customer_map_id_ar_reason_code_history
0,30347320,29830444.0,16,578686304.0,46704234.0,None,1,101916,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.033898
1,30347321,NaN,16,578686305.0,others,None,1,112167,126,1083,...,1.0,966.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
2,30347322,NaN,16,578686306.0,others,None,1,112167,126,1083,...,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.019756
3,30347323,NaN,16,578686307.0,46707465.0,None,4,100223,126,1083,...,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.005935
4,30347324,NaN,16,578686308.0,46707465.0,None,5,100223,126,1083,...,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.005935
5,30347325,NaN,16,578686309.0,46707465.0,None,5,100223,126,1083,...,1.0,1000.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.005935
6,30347326,NaN,16,578686311.0,46707465.0,None,4,100223,126,1083,...,1.0,2000.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.005935
7,30347331,30268441.0,16,578686316.0,46704234.0,None,2,101916,126,1083,...,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.022819
8,30347332,30268452.0,16,578686317.0,46704234.0,None,2,101916,126,1083,...,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.022819
9,30347333,30281445.0,16,578686318.0,46704234.0,None,2,101916,126,1083,...,1.0,43.20,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.022819
10,30347339,NaN,16,578686335.0,46707456.0,None,1,100109,126,1083,...,1.0,4530.00,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.010361
11,30347340,NaN,16,578686336.0,46707456.0,None,4,100109,126,1083,...,1.0,99.84,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.010361
12,30347341,NaN,16,578686337.0,46707471.0,None,1,100932,123,1128,...,NaN,NaN,NaN,NaN,NaN,None,1,044,044,0.000248
13,30347342,NaN,16,578686338.0,46707471.0,None,1,100932,123,1128,...,NaN,NaN,NaN,NaN,NaN,None,1,044,044,0.000248
14,30347343,NaN,16,578686339.0,46707471.0,None,2,100932,123,1128,...,NaN,NaN,NaN,NaN,NaN,None,1,044,044,0.000248
15,30347344,NaN,16,578686340.0,46707516.0,None,5,110054,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
16,30347345,NaN,16,578686341.0,46707516.0,None,3,108459,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
17,30347346,NaN,16,578686342.0,46707516.0,None,3,114058,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
18,30347347,NaN,16,578686343.0,46707516.0,None,3,114058,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
19,30347348,NaN,16,578686344.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
20,30347349,30035771.0,16,578686345.0,46707543.0,None,1,106065,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.051251
21,30347350,NaN,16,578686346.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
22,30347351,NaN,16,578686347.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
23,30347352,NaN,16,578686348.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
24,30347353,NaN,16,578686349.0,46707516.0,None,3,100346,123,2255,...,NaN,NaN,NaN,NaN,NaN,None,1,others,136,0.009590
25,30347354,NaN,16,578686350.0,46707471.0,None,4,100932,123,1155,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
26,30347355,NaN,16,578686351.0,46707471.0,None,4,100932,123,1155,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
27,30347356,NaN,16,578686352.0,46707471.0,None,1,100932,126,1083,...,1.0,0.19,1798.1,839.52,1.0,Write-Off,1,006,006,0.002494
28,30347357,NaN,16,578686353.0,46707471.0,None,1,100932,126,1083,...,1.0,141.44,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.002494
29,30347358,NaN,16,578686354.0,46707471.0,None,1,100932,126,1083,...,NaN,NaN,9813.0,4950.00,1.0,None,1,006,006,0.002494
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40237,31507976,NaN,16,579160789.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,007,007,0.006814
40238,31507978,NaN,16,579160791.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,007,007,0.006814
40239,31507982,NaN,16,579160795.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,007,007,0.006814
40240,31507983,NaN,16,579160796.0,46707516.0,None,1,100346,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,007,007,0.006814
40241,31507984,NaN,16,579160797.0,46707516.0,None,1,110054,126,1083,...,1.0,159073.89,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.009782
40242,31508075,NaN,16,579160930.0,46703328.0,None,1,100403,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,007,007,0.000000
40243,31508076,NaN,16,579160931.0,46703328.0,None,1,100403,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,007,007,0.000000
40244,31508077,NaN,16,579160932.0,46703328.0,None,1,100403,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,007,007,0.000000
40245,31508086,NaN,16,579160947.0,46707663.0,None,1,113094,123,1077,...,NaN,NaN,NaN,NaN,NaN,None,1,003,003,0.005819
40246,31508118,NaN,16,579161853.0,46707471.0,None,1,101364,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40247,31508122,NaN,16,579161857.0,46707501.0,None,2,101722,123,1128,...,NaN,NaN,NaN,NaN,NaN,None,1,044,044,0.006148
40248,31508123,NaN,16,579161858.0,46707543.0,None,2,106331,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,043,043,0.000000
40249,31508124,NaN,16,579161859.0,46707543.0,None,3,106331,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,043,043,0.000000
40250,31516062,31322824.0,16,579163327.0,46703532.0,None,1,100740,123,1086,...,NaN,NaN,NaN,NaN,NaN,None,1,others,007,0.021875
40251,31516068,NaN,16,579163333.0,46707618.0,None,1,106331,126,1083,...,1.0,19161.01,NaN,NaN,NaN,Promotion Settlement,1,006,006,0.002475
40252,31516071,NaN,16,579164787.0,others,None,1,100896,123,1155,...,NaN,NaN,NaN,NaN,NaN,None,1,others,013,0.037373
40253,31516072,NaN,16,579164788.0,others,None,2,101507,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,013,0.037373
40254,31516073,NaN,16,579164789.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40255,31516074,31364625.0,16,579164790.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40256,31516075,31364651.0,16,579164791.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40257,31516076,31367445.0,16,579164792.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40258,31516077,31379297.0,16,579164793.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40259,31516078,31378964.0,16,579164794.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40260,31516079,NaN,16,579164795.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40261,31516080,NaN,16,579164796.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40262,31516081,NaN,16,579164797.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40263,31516082,NaN,16,579164798.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40264,31516083,31414347.0,16,579164799.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40265,31516084,31418884.0,16,579164800.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046
40266,31516085,31409805.0,16,579164801.0,46707471.0,None,1,100932,123,1125,...,NaN,NaN,NaN,NaN,NaN,None,1,others,009,0.041046

In [46]:
train_Data_frame.rename(columns={column2+'_x': column2}, inplace=True)
test_Data_frame.rename(columns={column2+'_x': column2}, inplace=True)

In [50]:
train_Data_frame['ar_reason_code']

0         003
1         006
2         006
3         006
4         006
5         006
6         006
7         006
8         010
9         003
10        003
11        003
12        003
13        006
14        006
15        006
16        006
17        006
18        006
19        006
20        006
21        006
22        006
23        006
24        006
25        006
26        006
27        006
28        006
29        006
         ...
185284    036
185285    036
185286    036
185287    036
185288    036
185289    036
185290    036
185291    036
185292    036
185293    036
185294    036
185295    036
185296    036
185297    036
185298    036
185299    036
185300    036
185301    036
185302    036
185303    036
185304    036
185305    036
185306    036
185307    036
185308    036
185309    036
185310    036
185311    003
185312    109
185313    003
Name: ar_reason_code, Length: 185314, dtype: object